.recipe-page textarea {
  border: none;
  background-color: transparent;
}
.recipe-settings {
  margin: 2.3rem;
  margin-bottom: 3rem;
  justify-content: space-around !important;
}
.big-recipe-img {
  width: 50%;
}
.big-recipe-img-container {
  position: relative;
}
.big-recipe-img-container::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 0%;
  width: 90%;
  height: 80%;
  background-color: var(--light-gray);
  z-index: -1;
}
.ingrediants-container {
  position: absolute;
  top: 25%;
  left: 60%;
}
.instructions-container h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.edit {
  text-decoration: underline;
}
.ing-title {
  margin-bottom: 1rem;
}
.recipe-full-profile {
  margin-top: 2rem;
}
@media (max-width: 450px) {
  .recipe-page {
    width: 100vw;
  }
  .recipe-settings {
    /* width: 100vw; */
    padding: 0;
    margin: 1rem 0;
  }
  .main-content {
    margin: 0;
  }
}
