.profile-main-box {
  justify-content: space-around !important;
}

.name-input {
  border: none;
  text-align: center;
  padding: 0.4rem 0;
  margin: 1rem 0;
  color: black;
  box-shadow: var(--box-shadow);
  font-size: large;
}
.profile-main-box > * h6:hover {
  color: var(--red);
  cursor: pointer;
}
.add-new-recipe-plus {
  position: relative;
}
.add-new-recipe-plus::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  background: url("https://firebasestorage.googleapis.com/v0/b/sharry-1319e.appspot.com/o/assets%2Fwhite-plus.png?alt=media&token=87d9dca0-a62e-4aa1-b469-1a6719c504b2")
    center center/cover;
  top: 15%;
  left: 25%;
  z-index: 10;
}
@media (max-width: 450px) {
  .profile-main-box {
    flex-direction: column;
  }
  .plus-btn {
    width: 3rem;
  }
  .add-new-recipe-plus::after {
    display: none;
  }
}
