.profile-main-box {
  justify-content: space-around !important;
}

.name-input {
  border: none;
  text-align: center;
  padding: 0.4rem 0;
  margin: 1rem 0;
  color: black;
  box-shadow: var(--box-shadow);
  font-size: large;
}
.profile-main-box > * h6:hover {
  color: var(--red);
  cursor: pointer;
}
.add-new-recipe-plus {
  position: relative;
}
.add-new-recipe-plus::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  background: url("../../../public/assets/white-plus.png") center center/cover;
  top: 15%;
  left: 25%;
  z-index: 10;
}
