.recipe-preview {
  width: 14rem;
  border-radius: 10px;
  background-color: var(--light-blue);
  padding-bottom: 0.5rem;
  margin: 1rem;
}
.recipe-preview-pic {
  width: 14rem;
  height: 16rem;
  border-radius: 10px 10px 0 0;
}
.recipes-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .recipes-container {
    width: 100vw !important;
  }
}
