@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gray: rgba(217, 217, 217, 1);
  --red: rgba(218, 80, 75, 1);
  --black: rgba(33, 36, 39, 1);
  --light-blue: rgba(230, 247, 251, 1);
  --pink: rgba(255, 124, 139, 0.76);
  --light-gray: rgba(241, 241, 241, 1);
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}
a {
  color: var(--black);
  text-decoration: none;
}
button {
  font-family: "Poppins", sans-serif;
}
input,
textarea {
  outline: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-content {
  width: 90vw;
  margin: auto;
  padding: 1rem;
}
.bottom-border {
  border: 2px solid var(--gray);
  border-width: 0 0 2px 0;
}
.btn-pic {
  width: 10rem;
  border-radius: 50%;
}
.red-round-bg {
  background-color: var(--red);
  border-radius: 10px;
}
.hero-img {
  width: 100vw;
  max-height: 30rem;
}
.red-round-btn {
  background-color: var(--red);
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  color: white;
  outline: none;
  font-size: large;
  font-weight: 600;
}
.red {
  color: var(--red);
}
.gap {
  gap: 1rem;
}
.top-gap {
  margin-top: 2rem;
}
.sub-title {
  text-align: center;
  margin: 1rem;
}
.error-text {
  color: var(--pink);
  font-size: small;
}
.error-class {
  border-color: var(--pink);
}
.blue-btn {
  background-color: var(--light-blue);
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.blue-btn:hover {
  background-color: rgb(156, 215, 249) !important;
}
.cap {
  text-transform: capitalize;
}
.soon {
  display: inline-block;
  transform: rotate(40deg);
  font-size: small;
}
.error-modal {
  position: fixed;
  top: 3rem;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 30;
  width: 100vw;
  height: 95vh;
}
.error-modal p {
  background-color: white;
  color: var(--red);
  padding: 3rem;
  border-radius: 10px;
  border: var(--red) 2px solid;
}
@media (max-width: 500px) {
  .recipes-container {
    width: 100vw !important;
  }
}
