@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gary: rgba(217, 217, 217, 1);
  --red: rgba(218, 80, 75, 1);
  --black: rgba(33, 36, 39, 1);
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}
a {
  color: var(--black);
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-content {
  width: 90vw;
  margin: auto;
  padding: 1rem;
}
.bottom-border {
  border: 2px solid var(--gary);
  border-width: 0 0 2px 0;
}
.btn-pic {
  width: 10rem;
  border-radius: 50%;
}
.red-round-bg {
  background-color: var(--red);
  border-radius: 10px;
}
