.login-page {
  position: relative;
  background: url("../../../public/assets/login-hero.jpeg") center center/cover;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
