.explore-hero::after {
  content: "FIND YOUR NEXT  AWESOME DISH";
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
  color: rgb(250, 249, 246);
  font-size: 4.5rem;
  font-weight: 600;
  font-family: "poetsenone";
}
