.new-recipe-form {
  gap: 2rem;
  padding: 1rem;
}
.new-recipe-main-box {
  gap: 1rem;
}
.recipe-settings-box {
  /* background-color: ; */
  background: url("../../../public/assets/new-recipe.png") center center/cover;
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  gap: 4rem;
}
.recipe-settings-box::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recipe-settings-box * {
  z-index: 2;
}
.dish-name-input {
  width: 70vw;
  height: 3rem;
  font-size: larger;
  border: 2px solid var(--black) !important;
  border-radius: 30px !important;
  padding: 1rem !important;
}
.new-recipe-form input,
.new-recipe-form textarea {
  border: 1px solid var(--gray);
  padding: 0.5rem;
}
.radio-input-box {
  align-self: flex-start;
  margin-top: 0.2rem;
}
.dish-type-lable {
  margin-top: 2.5rem !important;
  display: flex;
  flex-direction: column;
}
.checkbox-container {
  text-align: left;
}

.new-recipe-img {
  width: 20rem;
  position: fixed;
  border-radius: 60%;
  transform: translateX(-100%);
  margin: 3rem;
  z-index: -1;
}
.new-recipe-img-container::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 40%;
  position: absolute;
  width: 100%;
  height: 200%;
  z-index: -1;
}
.new-recipe-img-container {
  align-self: flex-start;
}
.new-recipe-container {
  justify-content: center;
}
.text-box {
  border-radius: 10px;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  transition: all 0.2s;
}
.text-box:hover {
  cursor: pointer;
}
.text-box:focus {
  cursor: text;
}
.instructions-text-area {
  width: 25rem;
  height: 10rem;
}
.ingrediants-text-area {
  height: 10rem;
}
@media (max-width: 450px) {
  .recipe-settings-box {
    flex-direction: column;
  }
  .radio-input-box {
    margin: auto;
  }
}
