.new-recipe-form {
  gap: 2rem;
  padding: 1rem;
}

.checkbox-container {
  text-align: left;
}
.new-recipe-form input,
.new-recipe-form textarea {
  border: 1px solid var(--gray);
  padding: 0.5rem;
}

.radio-box {
  align-self: start !important;
  gap: 2rem;
}
#cooking-time-radio {
  align-self: flex-start;
}
.new-recipe-img {
  width: 20rem;
  position: fixed;
  border-radius: 60%;
  transform: translateX(-100%);
  margin: 3rem;
  z-index: -1;
}
.new-recipe-img-container::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 40%;
  position: absolute;
  width: 100%;
  height: 200%;
  z-index: -1;
}
.new-recipe-img-container {
  align-self: flex-start;
}
.new-recipe-container {
  justify-content: space-around !important;
}
.text-box {
  border-radius: 10px;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  transition: all 0.2s;
}
.text-box:hover {
  cursor: pointer;
}
.text-box:focus {
  cursor: text;
}
.instructions-text-area {
  width: 25rem;
  height: 10rem;
}
.ingrediants-text-area {
  height: 10rem;
}
